.main-section {
    background-color: getColor('main');
    padding-top: 118px;
    padding-bottom: 118px;
    background-image:
        linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../Images/main-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media screen and (min-width: getBreakPoint('desktop')){
    padding-top: 200px;
    padding-bottom: 200px;
    }

    .main-section-title {
        color: getColor('light');
        text-align: center;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.36;
        width: 360px;
        margin: 0 auto;
        @media screen and (min-width: getBreakPoint('desktop')){
            width: 696px;
            font-size: 44px;
        }
    }


    .main-section-button {
        color: getColor('light');
        background-color: getColor('button');
        font-size: 16px;
        line-height: 1.87;
        border-radius: 8px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        padding: 10px 24px;
        border: none;
        animation-name: grow;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-delay: 0.5s;
        animation-iteration-count: 2;
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        @media screen and (min-width: getBreakPoint('desktop')){
            padding: 10px 32px;
        }


    }

    .main-section-button:active {
        background-color: getColor('active');
    }
    @keyframes grow{
                 0%{scale:1;}
                 50%{scale:1.1;}
                 100%{scale:1;}
            }

}
